@import 'menu.module.css';
@import 'footer.module.css';

@font-face {
    font-family: "Reem Kufi";
    src: url("../generalStyle/fonts/Reem\ Kufi\ Regular.ttf");
}

@font-face {
    font-family: "Archivo Narrow";
    src: url("../generalStyle/fonts/Archivo\ Narrow\ Medium.ttf");
}

:root {
    --cinza-claro: #D9D9D9;
    --branco: #f8f8f8;
    --verde-logo: #31C48D;
    --azul: #2AB2D1;
    --azul-claro: #2CDBCD;
    --verde-claro: #2cdb69;
    --verde: #2ad135;
    --preto: #1f1f1fe5;
    --preto-claro: #4d4d4de5;
    --verde-claro-opaco: #2cdb6941;
    --shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    --transition: 300ms;
}

body {
    background-color: var(--cinza-claro);
    font-family: 'Reem Kufi';
    font-size: 16px;
    height: 100vh;
}

.tela-inicial {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.subtitulo {
    font-size: 1.5em;
}

.container {
    padding: 1em;
}

@media screen and (min-width: 1024px) {
    .subtitulo {
        font-size: 3em;
        font-weight: 600;
    }
    .container {
        padding: 3em;
    }
}