.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--branco);
    box-shadow: var(--shadow);
}

.logoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--preto);
    border-radius: 10px 10px 0px 0px;
    box-shadow: var(--shadow);
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 500ms;
    height: 400px;
    width: 0%;
    border-radius: 5px;
}

.option:hover {
    background-color: var(--verde-logo);
    width: 50%;
    box-shadow: var(--shadow);
}

.option p {
    position: absolute;
    z-index: 1;
    opacity: 90%;
    border-radius: 5px;
    background-color: var(--branco);
    color: var(--preto);
    text-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding-left: 1%;
    padding-right: 1%;
}

.options a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

@media screen and (max-width: 1024px) {
    .card {
        width: 70%;
    }
}

@media screen and (max-width: 750px) {    
    .card {
        width: 80%;
        margin-top: 300px;
    }

    .options {
        display: flex;
        flex-wrap: wrap;
    }
}