body {
    background-color: var(--cinza-claro);
    font-family: 'Reem Kufi';
    font-size: 16px;
    font-weight: 400;
    height: 100vh;
}

.page{
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.card{
    box-shadow: 0.2px 0.2px 3.5px;
    border-radius: 3%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    width: 20em;
    height: 20em;
    background-color: white;
}

.cards1{
    display: flex;
    justify-content: space-between;
}

.cards2{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
}