.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.linkHome {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--verde-claro);
    text-decoration: none;
}

.linkHome a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.linkHome :hover {
    color: var(--preto);
}


