.comoFunciona {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    width: 50%;
    margin: 0px;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.comoFuncionaTitulo {
    font-size: 1.5em;
}