.depoimentos {
    background-color: var(--azul);
}

.cardDepoimento {
    background-color: var(--branco);
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: .5em;
    text-align: center;
    font-size: .9em;
    margin-right: 1em;
}

.depoimentoInfoAutor {
    font-weight: 600;
}

.depoimentoImagem {
    max-width: 30%;
    border-radius: 100%;
}

.depoimentoNome {
    margin-top: auto;
    padding-top: 1.5em;
}

.depoimentoCargo {
    margin-bottom: .5em;
}

.depoimentosContainer {
    display: flex;
}

@media screen and (min-width: 1024px) {
    .depoimentoTexto {
        font-size: 1.5em;
    }
    .cardDepoimento {
        padding: 1em;
    }
    .depoimentoInfoAutor {
        font-size: 1.7em;
    }
}
