.oQueOferecemos {
    box-shadow: inset 0 0 0 1000px rgba(44, 219, 105, 0.75);
    background-image: url("assets/img/stock/aula-particular.jpg");
    background-color: var(--verde);
    background-size: 100% auto;
    background-position: center;
}

.oQueOferecemos li {
    list-style-type: disc;
}

.oQueOferecemosTexto ul {
    margin-left: 1em;
}

.oQueOferecemosTexto h3 {
    font-size: 1.3em;
}

.oQueOferecemosTexto {
    margin-top: 1em;
}

@media screen and (min-width: 1024px) {
    .oQueOferecemosTextosContainer {
        display: flex;
    }
    .oQueOferecemosTexto h3 {
        font-size: 1.8em;
    }
    .oQueOferecemos li {
        font-size: 1.5em;
    }
    .oQueOferecemosTexto ul {
        margin-left: 3em;
    }
}