.quemSomos {
    box-shadow: inset 0 0 0 1000px #ddddddb4;
    background-image: url("assets/img/stock/aula-online.jpg");
    background-size: 100% auto;
    background-position: center;
    padding: 1em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quemSomosTitulo, .subtitulo {
    font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
    .quemSomos {
        padding: 5em;
    }
    .quemSomosTitulo {
        margin-bottom: .5em;
    }
    .quemSomosTexto {
        font-size: 1.7em;
    }
}