.page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 600px;
    width: 40%;
    border-radius: 10px;
    box-shadow: var(--shadow);
}


.menuLogoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    height: 100px;
    background-color: var(--preto);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

}

.menuLogo {
    width: 100px;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.buttons {
    padding-top: 3%;
}

.button {
    color: black;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-claro);
    width: 160px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transition: 300ms;
}

.button:hover{
    color: white;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px black;
}

.googleButtonContainer {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 160px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--shadow);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 100%;
    transition: 300ms;
}

.googleButtonContainer:hover {
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px black;
}

.googleButton {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.googleButton img {
    width: 10%;
}

input {
    width: 20vw;
    background-color: none;
    border: none;
    padding-top: 0;
    border-radius: 3px;
    cursor: text;
    outline: none;
    border-bottom: 2px solid rgb(200, 200, 200);
}

.titleLabel1 {
    padding-bottom: 3px;
    padding-top: 50px;
}

.titleLabel {
    padding-bottom: 3px;
}

.titleLabel2 {
    padding-bottom: 3px;
    padding-top: 70px;
}

.titleLabel3 {
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-bottom: 1px solid;
}

.titleLabel3:hover {
    color: var(--verde-claro);
}

@media screen and (max-width: 1024px) {
    .card {
        width: 60%;
        font-size: 100%;
    }

    input {
        width: 100%;
    }
}

@media screen and (min-width: 1350px) {
    .card {
        width: 40%;
    }
}

@media screen and (min-width: 1850px) {
    .card {
        width: 30%;
        font-size: 100%;
    }
}