.depoimentoCardContainer {
    background-color: rgba(131, 211, 131, 0.733);
    padding: 5%;
    border-radius: 10px;
    width: 100%;
}

.depoimentoCardTexto span {
    text-shadow: var(--shadow);
    width: 100%;
}

.depoimentoCardContainer img {
    border-radius: 10px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.userInfo p {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}