.quem-somos {
    box-shadow: inset 0 0 0 1000px rgba(42, 209, 53, 0.75);
    background-image: url("../img/stock/aula-online.jpg");
    background-size: 100% auto;
    background-position: center;
    padding: 1em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quem-somos__titulo {
    font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
    .quem-somos {
        padding: 5em;
    }
    .quem-somos__titulo {
        margin-bottom: .5em;
    }
    .quem-somos__texto {
        font-size: 1.7em;
    }
}